# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Node
node_modules/

# Next.js
.next/
out/

# Prisma
*.tsbuildinfo
next-env.d.ts

# Logs
*.log
npm-debug.log*

# Vercel
.vercel
